* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

.block1{
  height: 5%;
  width: 100%;
  background-color: 3379;
  position: relative;
  text-align: right;
}

#phno {
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 0.8vw;
  margin-top: 0.6%;
  right: 25%;
  /* vertical-align: middle; */
}

#line {
  position: absolute;
  display: inline-block;
  /* vertical-align: middle; */
  color: white;
  /* top: 20%; */
  margin-top: 0.6%;
  font-size: 0.8vw;
  /* margin-right: 0.5%; */
  font-weight: bolder;
  right: 22%;
}

#amb {
  position: absolute;
  display: inline-block;
  /* vertical-align: middle; */
  color: white;
  margin-top: 0.6%;
  font-size: 0.8vw;
  right: 8%;
  /* margin-right: 5%; */
}

.block2 {
  height: 25%;
  width: 100%;
}

#logo {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  margin-top: 2%;
  margin-left: 10%;
}

#login, #signup, #search {
  display: inline-block;
  vertical-align: middle;
  margin-top: 2%;
  font-size: 0.8vw;
  color: white;
  background-color: 047C74;
  height: 20%;
  width: 6%;
  border-radius: 10px;
  border-style: none;
}

#login {
  margin-left: 35%;
}

#signup {
  margin-left: 2%;
}

#search {
  width: 15%;
  border-style: solid;
  border-color: 047C74;
  margin-left: 2%;
  border-radius: 50px;
  background-color: white;
  color: grey;
  padding-left: 2%;
}

.block3{
  height: 5%;
  width: 100%;
  background-color: 77A76;
  position: relative;
}

#b3list1 li {
  /* position: absolute; */
  display: inline-block;
  color: white;
  font-size: 0.8vw;
  /* left: 5%; */
  margin-top: 0.6%;
  padding-right: 7%;
  /* margin-left: 11%; */
}

#first {
  position: absolute;
  left: 11.5%;
  /* margin-left: 11.5%; */
}

#second {
  position: absolute;
  left: 20%;
}

#third {
  position: absolute;
  left: 30%;
}

#fourth {
  position: absolute;
  left: 45%;
}

.block4 {
  height: 80%;
  width: 100%;
  position: relative;
  text-align: center;
  /* color: black; */
  overflow: hidden;
}

#room {
  height: 100%;
  width: 100%;
  filter: blur(4px) brightness(70%);
  margin: 0px;
  z-index: -1;
}

#b4text1, #b4text2, #learnmore {
  position: absolute;
  color: white;
  left: 40%;
}

#b4text1 {
  font-size: 4vw;
  top: 35%;
  transform: translate(-30%, -50%)
}

#b4text2 {
  font-size: 1.5vw;
  top: 50%;
}

#learnmore {
  font-size: 1.5vw;
  top: 60%;
  margin-top: 1%;
  margin-left: -0.4%;
  background: none;
  height: 14%;
  width: 20%;
  border-style: ridge;
}

.block5 {
  height: 80%;
  width: 100%;
  position: relative;
  text-align: right;
}

#doctor1 {
  /* margin-top: 0.5%; */
  height: 100%;
  /* filter: brightness(90%); */
}

#b5text1, #b5text2 {
  position: absolute;
  left: 7%;
}

#b5text1 {
  font-size: 2.8vw;
  top: 10%;
}

#b5text2 {
  font-size: 1.1vw;
  text-align: left;
  top: 22%;
  font-weight: 300;
}

.block5 span {
  color: #077A76;
}

#b5list1, #b5list2{
  position: absolute;
  list-style-type: square;
  color: #0264BB;
  font-size: 1vw;
  text-align: left;
  top: 47%;
  font-weight: 300;
}

#b5list1 {
  left: 8%;
}

#b5list2 {
  left: 30%;
}

.block5 ul span {
  color: black;
}

#b5button1, #b5button2 {
  background: none;
  position: absolute;
  text-align: center;
  font-size: 1.1vw;
  font-weight: bold;
  top: 80%;
  height: 8%;
  width: 20%;
  border-width: medium;
  border-style: solid;
  border-radius: 20px;
  border-color: #0264BB;
}

#b5button1 {
  left: 7%;
}

#b5button2 {
  left: 29%;
}

.block6 {
  position: relative;
  height: 25%;
  width: 100%;
  overflow: hidden;
}

#blue {
  position: relative;
  filter: opacity(90%) brightness(70%) blur(0.5px);
  top: -120%;
  height: 300%;
  width: 100%;
}

#b6img1, #b6img2, #b6img3, #b6img4 {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 20%;
  z-index: 1;
}

#b6img2 {
  left: 15%;
}

#b6img3 {
  left: 30%;
}

#b6img4 {
  left: 45%;
}

#b6text1-1, #b6text2-1, #b6text3-1, #b6text4-1 {
  position: absolute;
  color: white;
  font-size: 2vw;
  font-weight: bold;
  top: 60%;

}

#b6text1-1 {
  left: 18%;
}

#b6text2-1 {
  left: 32.2%;
}

#b6text3-1 {
  left: 47.3%;
}

#b6text4-1 {
  left: 62.8%;
}

#b6text1-2, #b6text2-2, #b6text3-2, #b6text3-3, #b6text4-2 {
  position: absolute;
  color: white;
  font-size: 1.4vw;
  top: 42%;
  transform: rotate(270deg);
}

#b6text1-2 {
  left: 22%;
}

#b6text2-2 {
  left: 37%;
}

#b6text3-2 {
  left: 52%;
}

#b6text3-3 {
  top: 50%;
  left: 54.5%;
}

#b6text4-2 {
  left: 67.5%;
  top: 53%;
}

.block7 {
  position: relative;
  height: 115%;
  width: 100%;
  text-align: center;
}

#b7text1  {
  /* position: absolute; */
  margin-top: 3%;
  /* text-align: center; */
  font-size: 2.8vw;
}

#b7text2-1, #b7text3-1 {
  position: absolute;
  color: black;
  font-weight: bold;
  top: 16%;
  font-size: 1.2vw;
  /* font-size: 1vw; */
}

#b7text2-1 {
  color: #0264BB;
  left: 21%;
}


#b7text3-1 {
  left: 58%;
}

#b7text4-1, #b7text5-1 {
  position: absolute;
  color: black;
  font-weight: bold;
  top: 51%;
  font-size: 1.2vw;
}

#b7text4-1 {
  left: 21%;
}

#b7text5-1 {
  left: 58%;
}

#b7text2-2, #b7text3-2 {
  position: absolute;
  text-align: left;
  font-weight: lighter;
  font-size: 1vw;
  top: 27%;
}

#b7text2-2 {
  left: 15.5%;
}

#b7text3-2 {
  left: 52.5%;
}

#b7text4-2, #b7text5-2 {
  position: absolute;
  text-align: left;
  font-weight: lighter;
  font-size: 1vw;
  top: 62%;
}

#b7text4-2 {
  left: 15.5%;
}

#b7text5-2 {
  left: 52.5%;
}

.block7 span {
  position: relative;
  color: #077A76;
}

#b7img1-1, #b7img2-1 {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 15%;
}

#b7img1-1 {
  left: 13%;
}

#b7img2-1 {
  left: 50%;
}

#b7img3-1, #b7img4-1 {
  position: absolute;
  width: 10%;
  height: 10%;
  /* top: 25%; */
  top: 50%;
}

#b7img3-1 {
  left: 13%;
}

#b7img4-1 {
  left: 50%;
}

#b7img1-2, #b7img2-2 {
  position: absolute;
  width: 20.5%;
  top: 0.8%;
}

#b7img1-2 {
  left: 20%;
}

#b7img2-2 {
  left: 57.4%;
}

#b7img3-2, #b7img4-2 {
  position: absolute;
  width: 20%;
  top: 36.3%;
}

#b7img3-2 {
  left: 20.4%;
}

#b7img4-2 {
  left: 57.4%;
}

#b7button1 {
  position: absolute;
  font-size: 1.1vw;
  top: 82%;
  font-weight: bold;
  height: 7%;
  width: 23%;
  border-width: medium;
  border-style: solid;
  border-radius: 20px;
  border-color: #0264BB;
  left: 38%;
}

.block8 {
  position: relative;
  height: 60%;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

#b8img1 {
  left: 0%;
  position: absolute;
  height: 130%;
  width: 100%;
  margin: 0px;
  z-index: -1;
  filter: blur(3px) opacity(80%) brightness(70%);
}

#b8text1 {
  position: absolute;
  top: 30%;
  color: white;
  font-size: 2.5vw;
  left: 20%;
  /* z-index: 1; */
}

#b8text2 {
  position: absolute;
  top: 65%;
  font-size: 1.8vw;
  color: white;
  left: 45%;
}

@media only screen and (max-width: 768px) {
  .block1{
    height: 2%;
    width: 100%;
    background-color: 3379;
    text-align: right;
    position: relative;
  }

  #phno {
    position: absolute;
    top: 15%;
    /* margin-top: -3.7%; */
  }

  #line {
    position: absolute;
    top: 15%;
    /* margin-top: -3.7%; */
  }

  #amb {
    position: absolute;
    top: 15%;
    /* margin-top: -3.7%; */
  }

  .block2 {
    height: 7%;
  }

  #search {
    border-radius: 50px;
    border-width: thin;
    /* padding-top: 0.3%; */
    /* vertical-align: middle; */
    /* text */
    /* margin-top: 1%; */
  }

  .block3{
    height: 2%;
    width: 100%;
    background-color: 77A76;
  }

  #first{
    /* top: 5%; */
    left: 0%;
  }

  #b3list1 li {
    /* margin-top: -3.7%; */
    top: 18%;
  }

  #first {
    margin-left: 11.5%;
  }

  .block4 {
    height: 30%;
  }

  .block5 {
    height: 30%;
    width: 100%;
    position: relative;
    text-align: right;
  }

  #b5text2 {
    font-weight: 400;
  }

  #b5list1, #b5list2{
    font-weight: 400;
  }

  #b5button1, #b5button2 {
    top: 75%;
    border-width: thin;
  }

  .block6 {
    height: 7%;
  }

  .block7 {
    height: 40%;
  }

  #b7img1-1, #b7img2-1 {
    top: 9.5%;
  }

  #b7img1-2, #b7img3-2 {
    left: 21%;
  }

  #b7img2-2, #b7img4-2 {
    left: 58%;
  }

  #b7text2-1 {
    top: 11%;
    left: 22%;
  }

  #b7text3-1 {
    top: 11%;
    left: 59%;
  }

  #b7text2-2, #b7text3-2 {
    top: 22%;
  }

  #b7img3-1, #b7img4-1 {
    top: 40%;
  }

  #b7img3-2, #b7img4-2 {
    top: 32%;
  }

  #b7text4-1, #b7text5-1 {
    top: 41.5%;
  }

  #b7text4-1 {
    left: 22%;
  }

  #b7text5-1 {
    left: 59%;
  }

  #b7text4-2, #b7text5-2 {
    top: 53%;
  }

  .block8 {
    height: 20%;
  }

}
